USE [DB_v1]
GO
/****** Object:  StoredProcedure [dbo].[dangnhap_search]    Script Date: 6/11/2019 01:38:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[dangnhap_search](
@tentaikhoan nvarchar(20),
@matkhau nvarchar(20)
)
as
begin
select * from USER_KHACHHANG where TENTK=@tentaikhoan and MATKHAU=@matkhau
end

GO
/****** Object:  StoredProcedure [dbo].[hanghoa_select]    Script Date: 6/11/2019 01:38:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[hanghoa_select]
	-- Add the parameters for the stored procedure here
	@id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM  HANGHOA
	WHERE MAHH =@id
END

GO
/****** Object:  StoredProcedure [dbo].[loaihanghoa]    Script Date: 6/11/2019 01:38:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[loaihanghoa]
	-- Add the parameters for the stored procedure here
	@id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM NHOMHANGHOA
	WHERE MANHOMHH=@id
END

GO
/****** Object:  Table [dbo].[CHITIET_HOADON]    Script Date: 6/11/2019 01:38:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_HOADON](
	[MAHD] [int] NOT NULL,
	[MAHH] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIET_NHAPHANG]    Script Date: 6/11/2019 01:38:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_NHAPHANG](
	[MAPHIEUNHAP] [int] NOT NULL,
	[MAHH] [int] NOT NULL,
	[MACHITIET_PG] [int] NOT NULL,
	[MAKHO] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_CHITIET_NHAPHANG] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC,
	[MAHH] ASC,
	[MACHITIET_PG] ASC,
	[MAKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETPHIEUGIAO]    Script Date: 6/11/2019 01:38:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUGIAO](
	[MACHITIET_PG] [int] NOT NULL,
	[MAKH] [int] NOT NULL,
	[SOLUONGGIAO] [int] NOT NULL,
	[DONGIA] [money] NULL,
	[THANHTIEN] [money] NULL,
 CONSTRAINT [PK_CHITIETPHIEUGIAO] PRIMARY KEY NONCLUSTERED 
(
	[MACHITIET_PG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_PHIEUDAT]    Script Date: 6/11/2019 01:38:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUDAT](
	[MACHITIET_PD] [int] IDENTITY(1,1) NOT NULL,
	[MAKH] [int] NOT NULL,
	[MAPDH] [int] NOT NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_CT_PHIEUDAT] PRIMARY KEY NONCLUSTERED 
(
	[MACHITIET_PD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DONDATHANG]    Script Date: 6/11/2019 01:38:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DONDATHANG](
	[MAPDH] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [int] NULL,
	[NGAY_LAP_] [date] NULL,
	[DIENTHOAI] [varchar](10) NULL,
 CONSTRAINT [PK_DONDATHANG] PRIMARY KEY NONCLUSTERED 
(
	[MAPDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HANGHOA]    Script Date: 6/11/2019 01:38:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGHOA](
	[MAHH] [int] IDENTITY(1,1) NOT NULL,
	[MANHOMHH] [int] NULL,
	[TENHH] [nvarchar](50) NULL,
	[DONGIALE] [money] NULL,
	[GIANHAPVE] [money] NULL,
	[BAOHANH] [int] NULL,
	[DVT] [text] NULL,
	[ANH] [nvarchar](50) NULL,
	[MOTA] [nvarchar](50) NULL,
 CONSTRAINT [PK_HANGHOA] PRIMARY KEY NONCLUSTERED 
(
	[MAHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADONMUAHANG]    Script Date: 6/11/2019 01:38:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONMUAHANG](
	[MAHD] [int] IDENTITY(1,1) NOT NULL,
	[MAKHACH] [int] NULL,
	[NGAYLAP] [date] NULL,
	[TONGTIEN] [money] NULL,
	[LOAIGIA] [nvarchar](255) NULL,
 CONSTRAINT [PK_HOADONMUAHANG] PRIMARY KEY NONCLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 6/11/2019 01:38:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKHACH] [int] IDENTITY(1,1) NOT NULL,
	[TENKHACH] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[NGAYSINH] [datetime] NULL,
	[DIENTHOAI] [nchar](1) NULL,
	[EMAIL] [text] NULL,
	[TENTK] [nchar](30) NULL,
	[MATKHAU] [nchar](10) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY NONCLUSTERED 
(
	[MAKHACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHOHANG]    Script Date: 6/11/2019 01:38:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHOHANG](
	[MAKHO] [int] IDENTITY(1,1) NOT NULL,
	[TENKHO] [nvarchar](50) NULL,
	[GHICHU] [nvarchar](50) NULL,
	[DIENTHOAI] [varchar](10) NULL,
	[DIACHI] [nvarchar](255) NULL,
 CONSTRAINT [PK_KHOHANG] PRIMARY KEY NONCLUSTERED 
(
	[MAKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 6/11/2019 01:38:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[MANHOM] [int] NULL,
	[TENKH] [nvarchar](50) NULL,
	[DIENTHOAI] [varchar](10) NULL,
	[DIACHI] [nvarchar](255) NULL,
	[EMAIL] [text] NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY NONCLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 6/11/2019 01:38:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[MANHOM] [int] NULL,
	[TENNV] [text] NULL,
	[DIENTHOAI] [nchar](1) NULL,
	[EMAIL] [text] NULL,
	[DIACHI] [nvarchar](255) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY NONCLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHOMHANGHOA]    Script Date: 6/11/2019 01:38:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMHANGHOA](
	[MANHOMHH] [int] IDENTITY(1,1) NOT NULL,
	[TENNHOMHH] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHOMHANGHOA] PRIMARY KEY NONCLUSTERED 
(
	[MANHOMHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUNHAPHANG]    Script Date: 6/11/2019 01:38:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAPHANG](
	[MAPHIEUNHAP] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [int] NULL,
	[NGAYLAPPHIEU] [date] NULL,
	[DIENGIAI] [nvarchar](255) NULL,
	[SONGAYKHACHNO] [int] NULL,
 CONSTRAINT [PK_PHIEUNHAPHANG] PRIMARY KEY NONCLUSTERED 
(
	[MAPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN_NV]    Script Date: 6/11/2019 01:38:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN_NV](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENTAIKHOAN] [nvarchar](255) NULL,
	[MATKHAU] [varchar](50) NULL,
	[MANV] [int] NULL,
 CONSTRAINT [PK_TAIKHOAN_NV] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TINH_THANH]    Script Date: 6/11/2019 01:38:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINH_THANH](
	[MANHOM] [int] IDENTITY(1,1) NOT NULL,
	[TENNHOM] [nvarchar](50) NULL,
 CONSTRAINT [PK_VITRI] PRIMARY KEY NONCLUSTERED 
(
	[MANHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USER_KHACHHANG]    Script Date: 6/11/2019 01:38:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER_KHACHHANG](
	[ID_KH] [int] IDENTITY(1,1) NOT NULL,
	[MAKHACH] [int] NULL,
	[TENTK] [nvarchar](255) NULL,
	[MATKHAU] [varchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
 CONSTRAINT [PK_USER_KHACHHANG] PRIMARY KEY NONCLUSTERED 
(
	[ID_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CHITIET_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET__CHITIET_H_HANGHOA] FOREIGN KEY([MAHH])
REFERENCES [dbo].[HANGHOA] ([MAHH])
GO
ALTER TABLE [dbo].[CHITIET_HOADON] CHECK CONSTRAINT [FK_CHITIET__CHITIET_H_HANGHOA]
GO
ALTER TABLE [dbo].[CHITIET_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET__CHITIET_H_HOADONMU] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADONMUAHANG] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIET_HOADON] CHECK CONSTRAINT [FK_CHITIET__CHITIET_H_HOADONMU]
GO
ALTER TABLE [dbo].[CHITIET_NHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET__CHITIET_N_CHITIETP] FOREIGN KEY([MACHITIET_PG])
REFERENCES [dbo].[CHITIETPHIEUGIAO] ([MACHITIET_PG])
GO
ALTER TABLE [dbo].[CHITIET_NHAPHANG] CHECK CONSTRAINT [FK_CHITIET__CHITIET_N_CHITIETP]
GO
ALTER TABLE [dbo].[CHITIET_NHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET__CHITIET_N_HANGHOA] FOREIGN KEY([MAHH])
REFERENCES [dbo].[HANGHOA] ([MAHH])
GO
ALTER TABLE [dbo].[CHITIET_NHAPHANG] CHECK CONSTRAINT [FK_CHITIET__CHITIET_N_HANGHOA]
GO
ALTER TABLE [dbo].[CHITIET_NHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET__CHITIET_N_KHOHANG] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHOHANG] ([MAKHO])
GO
ALTER TABLE [dbo].[CHITIET_NHAPHANG] CHECK CONSTRAINT [FK_CHITIET__CHITIET_N_KHOHANG]
GO
ALTER TABLE [dbo].[CHITIET_NHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET__CHITIET_N_PHIEUNHA] FOREIGN KEY([MAPHIEUNHAP])
REFERENCES [dbo].[PHIEUNHAPHANG] ([MAPHIEUNHAP])
GO
ALTER TABLE [dbo].[CHITIET_NHAPHANG] CHECK CONSTRAINT [FK_CHITIET__CHITIET_N_PHIEUNHA]
GO
ALTER TABLE [dbo].[CHITIETPHIEUGIAO]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETP_RELATIONS_NHACUNGC] FOREIGN KEY([MAKH])
REFERENCES [dbo].[NHACUNGCAP] ([MAKH])
GO
ALTER TABLE [dbo].[CHITIETPHIEUGIAO] CHECK CONSTRAINT [FK_CHITIETP_RELATIONS_NHACUNGC]
GO
ALTER TABLE [dbo].[CT_PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEU_RELATIONS_DONDATHA] FOREIGN KEY([MAPDH])
REFERENCES [dbo].[DONDATHANG] ([MAPDH])
GO
ALTER TABLE [dbo].[CT_PHIEUDAT] CHECK CONSTRAINT [FK_CT_PHIEU_RELATIONS_DONDATHA]
GO
ALTER TABLE [dbo].[CT_PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEU_RELATIONS_NHACUNGC] FOREIGN KEY([MAKH])
REFERENCES [dbo].[NHACUNGCAP] ([MAKH])
GO
ALTER TABLE [dbo].[CT_PHIEUDAT] CHECK CONSTRAINT [FK_CT_PHIEU_RELATIONS_NHACUNGC]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONDATHA_RELATIONS_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [FK_DONDATHA_RELATIONS_NHANVIEN]
GO
ALTER TABLE [dbo].[HANGHOA]  WITH CHECK ADD  CONSTRAINT [FK_HANGHOA_RELATIONS_NHOMHANG] FOREIGN KEY([MANHOMHH])
REFERENCES [dbo].[NHOMHANGHOA] ([MANHOMHH])
GO
ALTER TABLE [dbo].[HANGHOA] CHECK CONSTRAINT [FK_HANGHOA_RELATIONS_NHOMHANG]
GO
ALTER TABLE [dbo].[HOADONMUAHANG]  WITH CHECK ADD  CONSTRAINT [FK_HOADONMU_RELATIONS_KHACHHAN] FOREIGN KEY([MAKHACH])
REFERENCES [dbo].[KHACHHANG] ([MAKHACH])
GO
ALTER TABLE [dbo].[HOADONMUAHANG] CHECK CONSTRAINT [FK_HOADONMU_RELATIONS_KHACHHAN]
GO
ALTER TABLE [dbo].[NHACUNGCAP]  WITH CHECK ADD  CONSTRAINT [FK_NHACUNGC_RELATIONS_VITRI] FOREIGN KEY([MANHOM])
REFERENCES [dbo].[TINH_THANH] ([MANHOM])
GO
ALTER TABLE [dbo].[NHACUNGCAP] CHECK CONSTRAINT [FK_NHACUNGC_RELATIONS_VITRI]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_RELATIONS_VITRI] FOREIGN KEY([MANHOM])
REFERENCES [dbo].[TINH_THANH] ([MANHOM])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_RELATIONS_VITRI]
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHA_RELATIONS_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG] CHECK CONSTRAINT [FK_PHIEUNHA_RELATIONS_NHANVIEN]
GO
ALTER TABLE [dbo].[TAIKHOAN_NV]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_RELATIONS_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TAIKHOAN_NV] CHECK CONSTRAINT [FK_TAIKHOAN_RELATIONS_NHANVIEN]
GO
ALTER TABLE [dbo].[USER_KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_USER_KHA_RELATIONS_KHACHHAN] FOREIGN KEY([MAKHACH])
REFERENCES [dbo].[KHACHHANG] ([MAKHACH])
GO
ALTER TABLE [dbo].[USER_KHACHHANG] CHECK CONSTRAINT [FK_USER_KHA_RELATIONS_KHACHHAN]
GO
